html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.header {
    padding: 2.5rem 5.5rem;
    background-color: #AA0601;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: block;
}

.pt-64 {
    padding-top: 64px;
}

.menu {}

.menu a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

h1 {
    line-height: 96px;
    font-size: 64px;
    color: #650300;
    font-weight: bold;
}

h2 {
    font-size: 48px;
    line-height: 67px;
    font-weight: bold;
    color: #650300;
}

.menu li {
    margin-right: 64px;
}

.menu li:last-child {
    margin-right: 0px;
}
p{
    font-size: 16px;
    line-height: 24px;
}
.banner {
    background-image: url(../image/banner.png);
    height: 840px;
}

.bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mr-360 {
    margin-right: 360px;
}
.mb-60{
    margin-bottom: 60px;
}
.banner .title {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.banner .title p {
    font-size: 36px;
    line-height: 54px;
    color: #650300;
}
.flow{
    background-color: #AA06010D;
    text-align: center;
    padding-right: 360px;
    padding-left: 360px;
    padding-bottom: 80px;
}
.flow h2{
    margin-bottom: 64px;
}
.flow-content{
    
    align-items: center;
}
.flow-content img{
    max-width:100%;
    margin-bottom: 2.5rem;
}
.flow-content h3{
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #650300;
    line-height: 36px;
    margin-bottom: 4px;
}
.flow-content ul{
    align-items: baseline;
}
.flow-content li{
    width: 25%;
    padding-right: 1.5rem;
    align-items: center;
}
.classic{
    text-align: center;
}
.classic ul{
    flex-direction: column;
    align-items: center;
}
.classic ul li{
    display: flex;
    margin-bottom: 32px;
    align-items:center;
}
.classic .title{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:auto 24px;
}
.classic .title img{
    display: block;
}
.classic ul li h3{
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
    color:#AA0601;
}
.co-branded{
    background-image: url(../image/bg.png);
    text-align: center;
}
.co-branded h2{
    color: #FFFFFF;
}
.co-branded ul{
    flex-direction: column;
    align-items: center;
}
.rightPicture{
        flex-direction: column;
}
.more{
    height: 167px;
    background-image: url(../image/more.png);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: flex-end;
}
.moreContain{
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 315px;
}
.more p{ 
    font-size: 72px;
    line-height: 108px;
    color:#AA0601;
}