html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
}
img{
    display:block;
    max-width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1{
    color: #650300;
    font-size: 64px;
    line-height: 96px;
    font-weight: bolder;
}
h2{
    color: #650300;
    font-size: 48px;
    line-height: 72px;
    font-weight: bolder;
}
a{
    color: #FFFFFF;
    text-decoration:none; 
}
.d-flex {
    display: flex;
}
.pt-64{
    padding-top: 64px;
}
.pb-80{
    padding-bottom: 80px;
}
.mb-60{
    margin-bottom: 60px;
}
.header {
    background-color: #AA0601;
    justify-content: space-between;
    align-items: center;
    padding:30px 88px;
}
.menu li{
    line-height: 30px;
    margin-left: 64px;
    font-size: 20px;   
}
.banner{
    background-image: url(../image/banner.png);
    height: 840px;
    justify-content:center;
    align-items:center;
}
.bg-cover {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerTitle{
    flex-direction:column;
    align-items:flex-end;
}
.bannerTitle p{
    color: #650300;
    font-size: 36px;
    line-height: 54px;
}
.bannerContainer{
    flex-direction:column;
    justify-content:center;
    height: 100%;
    width:1200px;
}
.flow{
    text-align:center;
    background-color: #AA06010D;
    flex-direction: column;
    align-items: center;
}  
.flow-content{
    align-items: baseline;
    width:1200px;
}
.flow-content li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.flow-content h3{
    color:#650300;
    font-size: 24px;
    font-weight: bolder;
    line-height: 36px;
    margin-bottom: 4px;
}
.flow-content p{
    font-size: 16px;
    line-height: 24px;
}
.flow-content img {
    margin-bottom: 2.5rem;
}
.classic{
    text-align: center;
    background-color: #FFFFFF;
}
.classic ul{
    flex-direction: column;
    align-items:center;
}
.classic li{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.classic li:last-child{
    margin-bottom: 80px;
}

.title{
    margin-right: 14px;
    margin-left: 24px;
    display: flex;
    align-items:center;
    color: #AA0601;
    font-size: 48px;
    line-height: 72px;
    font-weight: bold;
}
































);







































































































































































